Carretera/obj/Carretera.csproj.nuget.dgspec.json
Carretera/obj/project.nuget.cache
NetworkStreamClass/obj/NetworkStreamClass.csproj.nuget.dgspec.json
NetworkStreamClass/obj/project.assets.json
NetworkStreamClass/obj/project.nuget.cache
